<div class="container">
    <div class="row">
        <div class="col m6 push-m3">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <h3 class="center-align"> Bienvenido </h3>
                        <div class="col m6 push-m3">
                            <div class="section">
                                <button type="button" class="btn btn-large cyan miBoton" [routerLink]="['/login']">Iniciar Sesión</button>
                            </div>
                            <div class="section">
                                <button type="button" class="btn btn-large cyan miBoton" [routerLink]="['/registro']">Registrarse</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>